<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zz.itcast.jiujinhui"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/jiujinhui"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="zz.itcast.jiujinhui.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="zz.itcast.jiujinhui.activity.RegisterActivity" >
        </activity>
        <activity android:name="zz.itcast.jiujinhui.activity.ForgetPwdActivity" >
        </activity>
        <activity android:name="zz.itcast.jiujinhui.activity.PersonCenterActivity" >
        </activity>
        <activity android:name="zz.itcast.jiujinhui.activity.LoginActivity" >
        </activity>
        <activity android:name="zz.itcast.jiujinhui.activity.TradeServiceActivity" >
        </activity>
        <activity android:name="zz.itcast.jiujinhui.activity.DrinkRecordActivity" >
        </activity>
        <activity android:name="zz.itcast.jiujinhui.activity.TradeRecordActivity" >
        </activity>
        <activity android:name="zz.itcast.jiujinhui.activity.TiXianRecordActivity" >
        </activity>
        <activity android:name="zz.itcast.jiujinhui.activity.ZongZiChanActivity" >
        </activity>
        <activity android:name="zz.itcast.jiujinhui.activity.ReChargeActivity" >
        </activity>
        <activity android:name="zz.itcast.jiujinhui.activity.MyTiXianActivity" >
        </activity>
        <activity android:name="zz.itcast.jiujinhui.activity.PerInfoActivity"></activity>
     <activity android:name="net.sourceforge.simcpux.wxapi.WXEntryActivity"></activity>
     <!-- 友盟AppKey， 需要替换成你自己的 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57fc84fe67e58ea8aa003199" >
        </meta-data>   
         <!-- 微信回调activity -->
        <activity
            android:name="zz.itcast.jiujinhui.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>